In [1]:
import mysql.connector

mydb = mysql.connector.connect(
        host="52.86.52.241",
        user="si699_remote",
        password="SI699_password",
        database="si699_db",
        )
mycursor = mydb.cursor()

In [2]:
import pandas as pd
df = pd.read_csv("../phishing_site_urls.csv")
df

                                                      URL Label
0       nobell.it/70ffb52d079109dca5664cce6f317373782/...   bad
1       www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad
2       serviciosbys.com/paypal.cgi.bin.get-into.herf....   bad
3       mail.printakid.com/www.online.americanexpress....   bad
4       thewhiskeydregs.com/wp-content/themes/widescre...   bad
...                                                   ...   ...
549341                                    23.227.196.215/   bad
549342                                 apple-checker.org/   bad
549343                                  apple-iclods.org/   bad
549344                                 apple-uptoday.org/   bad
549345                                  apple-search.info   bad

[549346 rows x 2 columns]

In [3]:
df['id'] = df.index
df

                                                      URL Label      id
0       nobell.it/70ffb52d079109dca5664cce6f317373782/...   bad       0
1       www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...   bad       1
2       serviciosbys.com/paypal.cgi.bin.get-into.herf....   bad       2
3       mail.printakid.com/www.online.americanexpress....   bad       3
4       thewhiskeydregs.com/wp-content/themes/widescre...   bad       4
...                                                   ...   ...     ...
549341                                    23.227.196.215/   bad  549341
549342                                 apple-checker.org/   bad  549342
549343                                  apple-iclods.org/   bad  549343
549344                                 apple-uptoday.org/   bad  549344
549345                                  apple-search.info   bad  549345

[549346 rows x 3 columns]

In [4]:
from datetime import date
now = date.today()
formatted_date = now.strftime('%Y-%m-%d')

In [5]:
df['date'] = now
df

,URL,Label,id,date
0,nobell.it/70ffb52d079109dca5664cce6f317373782/...,bad,0,2023-03-02
1,www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...,bad,1,2023-03-02
2,serviciosbys.com/paypal.cgi.bin.get-into.herf....,bad,2,2023-03-02
3,mail.printakid.com/www.online.americanexpress....,bad,3,2023-03-02
4,thewhiskeydregs.com/wp-content/themes/widescre...,bad,4,2023-03-02
...,...,...,...,...
549341,23.227.196.215/,bad,549341,2023-03-02
549342,apple-checker.org/,bad,549342,2023-03-02
549343,apple-iclods.org/,bad,549343,2023-03-02
549344,apple-uptoday.org/,bad,549344,2023-03-02
549345,apple-search.info,bad,549345,2023-03-02

In [6]:
#mycursor.execute("DROP TABLE si699_table")

In [38]:
#mycursor.execute("CREATE TABLE si699_table (id INT NOT NULL PRIMARY KEY, url TEXT, label VARCHAR(10) , date DATE)")

In [7]:
from tqdm import tqdm
total_rows = len(df)
for index,row in tqdm(df.iterrows(), total=total_rows):
    sql = 'INSERT INTO si699_table (id, url, label, date) VALUES (%s, %s, %s, %s)'
    val = (row['id'], row['URL'], row['Label'], row['date'])
    mycursor.execute(sql, val)
mydb.commit()

100%|██████████| 549346/549346 [7:54:29<00:00, 19.30it/s]